<h2>Welcome to Goal Tracker!</h2>
<h4>To acheive all your goals</h4>
<br>
<!-- code taken from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel&stacked=h -->
<div class="carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img class="carousel-image" src="<%= asset_path( 'all_time_daily.png' ) %>"  alt="Daily performance" style="width:100%;">
      </div>

      <div class="item">
        <img class="carousel-image" src="<%= asset_path( 'metric_table.png' ) %>" alt="Weekly track record" style="width:100%;">
      </div>

      <div class="item">
        <img class="carousel-image" src="<%= asset_path( 'weekly_bar_chart.png' ) %>" alt="This week's performance" style="width:100%;">
      </div>

      <div class="item">
        <img class="carousel-image" src="<%= asset_path( 'leaderboard.png' ) %>" alt="Friendly competition" style="width:100%;">
      </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:none !important">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background:none !important">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br>

<h2>Lots of functions</h2>
<section class="overview">
  <div class="overview-column">
    <div class="overview-row">
      <div class="overview-cell">1. Add weekly goals (aka metrics)</div>
      <img class="overview-cell" src="<%= asset_path( 'bullseye.png' ) %>"  alt="1. Add weekly goals">
    </div>
    <div class="overview-row">
      <div class="overview-cell">2. Enter daily performance</div>
      <img class="overview-cell" src="<%= asset_path( 'enter.png' ) %>"  alt="2. Enter daily performance">
    </div>
    <div class="overview-row">
      <div class="overview-cell">3. Track progress against your goals over time</div>
      <img class="overview-cell" src="<%= asset_path( 'barchart.png' ) %>"  alt="3. Track progress against your goals">
    </div>
  </div>
  <div class="overview-column">
    <div class="overview-row">
      <div class="overview-cell">4. Receive optional reminder emails</div>
      <img class="overview-cell" src="<%= asset_path( 'email.png' ) %>"  alt="4. Receive optional reminder emails">
    </div>
    <div class="overview-row">
      <div class="overview-cell">5. Form accountability groups to keep you honest</div>
      <img class="overview-cell" src="<%= asset_path( 'handshake.png' ) %>"  alt="5. Form accountability groups to keep you honest">
    </div>
    <div class="overview-row">
      <div class="overview-cell">6. Create mini-competitions within your groups</div>
      <img class="overview-cell" src="<%= asset_path( 'competition.png' ) %>"  alt="6. Create mini-competitions within your groups">
    </div>
  </div>
</section>
