<h2>Update competition for <%= @competition.metric_name %></h2>

<%= form_for [current_user,@group, @competition] do |f|  %>
  <%= f.label "Start Date" %>
  <%= f.date_field :start_date %>

  <%= f.label "Start Date" %>
  <%= f.date_field :end_date %>

  <%= f.submit "Update" %>

<% end %>
