<h2><%= @competition.metric_name %></h2>
<p>Unit: <%= @competition.metric_unit %></p>
<p>Timeframe: <%= @competition.start_date %> - <%= @competition.end_date %></p>
<% if Time.current.to_date >= @competition.start_date %>
  <h3>Leaderboard: </h3>
  <% place = 1 %>
  <table class="metric-table">
    <tr>
      <th>Ranking</th>
      <th>Competitor</th>
      <th>Total <%= @competition.metric_unit %></th>
    </tr>
    <% for competitor in @running_totals %>
      <tr>
        <td><%= place %></td>
        <td><%= competitor[:name] %></td>
        <td><%= competitor[:total] %></td>
      </tr>
      <% place += 1 %>
    <% end %>
  </table>

<% end %>
<br>
<div class="links">
  <%= link_to "Edit Competition", edit_user_group_competition_path(current_user, @group, @competition) %>
  <%= link_to "Delete Competition", user_group_competition_path(current_user, @group, @competition), method: :delete, data: {confirm: "Are you sure you want to delete this competition?"} %>
  <%= link_to "Back to Group '#{@group.name}'", user_group_path(current_user, @group) %>
</div>
