<% if @metrics.length > 0 %>
  <h2>Week of <%= Date.today.beginning_of_week(:sunday) %></h2>
  <% for metric in @metrics %>
    <% if (Date.today - metric.last_day_undone).to_i > 1 %>
    <p><%= metric.name%>: You've <%= metric.good ? "" : "not" %> done it <%= (Date.today - metric.last_day_undone).to_i %> days in a row.  Keep it up!</p>
    <% end %>
  <% end %>
  <%= column_chart @week_data, colors: ["#4caf50", "#999"] %>
  <h2>Recent Weeks</h2>
  <% for streak in @week_streaks %>
    <p><%= streak[0].name%>: You've hit your weekly goal the previous <%= streak[1] %> weeks.  Keep it up!</p>
  <% end %>
  <br>
  <br>
  <table class="metric-table">
    <tr>
      <th>Metric</th>
      <th>Weekly Goal</th>
      <th>Start Date</th>
      <% for date in @dates %>
        <th><%= date.strftime("%m/%d") %></th>
      <% end %>
    </tr>
  <% i = 0 %>
  <% for metric in @metrics %>
    <tr>
      <td><%= link_to metric.name, user_metric_path(current_user, metric) %></td>
      <td><%= metric.target %> <%= metric.unit %></td>
      <td><%= metric.start_date %></td>
      <% week = 0 %>
      <% for weekly_count in @rows[i] %>
        <% if (@dates[week]+6)<metric.start_date %>
          <td class="metric-table__prior"><%= weekly_count %></td>
        <% elsif metric.good %>
          <td class=<%= weekly_count >= metric.target ? "metric-table__hit" : "metric-table__missed" %>><%= weekly_count %></td>
        <% else %>
          <td class=<%= weekly_count <= metric.target ? "metric-table__hit" : "metric-table__missed" %>><%= weekly_count %></td>
        <% end %>
        <% week += 1 %>
      <% end %>
    </tr>
    <% i+=1 %>
  <% end %>
  </table>
  <h2>All time</h2>
  <%= line_chart @all_data, colors: ["#4CAF50", "#FF0000", "#CA9CE1", "#F4E04D", "#1C3144", "#58B09C"] %>
<% else %>
   <h2>You have no metrics, yet.</h2>
   <p>Please create some by clicking "Create New Metric" below</p>
<% end %>
<br>
<div class="links">
  <%= link_to "Create New Metric", new_user_metric_path(current_user)%>
</div>
