<% if @metrics.length > 0 %>
  <h2>Week of <%= Date.today.beginning_of_week(:sunday) %></h2>
  <% for streak in @day_streaks %>
    <p><%= streak[0].name%>: You've done it <%= streak[1] %> days in a row.  Keep it up!</p>
  <% end %>
  <%= column_chart @week_data  %>
  <h2>All time</h2>
  <%= line_chart @all_data %>
<% else %>
   <h2>You have no metrics</h2>
<% end %>
<p><%= link_to "New Metric", new_user_metric_path(current_user) %></p>
