<% if @metrics.length > 0 %>
  <h2>Week of <%= Date.today.beginning_of_week(:sunday) %></h2>
  <% for streak in @day_streaks %>
    <p><%= streak[0].name%>: You've <%= streak[0].good ? "" : "not" %> done it <%= streak[1] %> days in a row.  Keep it up!</p>
  <% end %>
  <%= column_chart @week_data, colors: ["#4caf50", "#999"] %>
  <h2>All time</h2>
  <% for streak in @week_streaks %>
    <p><%= streak[0].name%>: You've hit your weekly goal the previous <%= streak[1] %> weeks.  Keep it up!</p>
  <% end %>
  <table class="metric_table">
    <tr>
      <th>Metric</th>
      <th>Weekly Goal</th>
      <th>Start Date</th>
      <% for date in @dates %>
        <th><%= date %></th>
      <% end %>
    </tr>
  <% i = 0 %>
  <% for metric in @metrics %>
    <tr>
      <td><%= link_to metric.name, user_metric_path(current_user, metric) %></td>
      <td><%= metric.target %> <%= metric.unit %></td>
      <td><%= metric.start_date %></td>
      <% week = 0 %>
      <% for weekly_count in @rows[i] %>
        <% if (@dates[week]+6)<metric.start_date %>
          <td class="prior"><%= weekly_count %></td>
        <% elsif metric.good %>
          <td class=<%= weekly_count >= metric.target ? "hit" : "missed" %>><%= weekly_count %></td>
        <% else %>
          <td class=<%= weekly_count <= metric.target ? "hit" : "missed" %>><%= weekly_count %></td>
        <% end %>
        <% week += 1 %>
      <% end %>
    </tr>
    <% i+=1 %>
  <% end %>
  </table>
  <%= line_chart @all_data %>
<% else %>
   <h2>You have no metrics</h2>
<% end %>
<p><%= link_to "Create New Metric", new_user_metric_path(current_user) %></p>
