<h1>Past Performance</h1>
<% if @metrics.length > 0 %>
  <h3>Week of <%= Date.today.beginning_of_week(:sunday).strftime("%B %d, %Y") %></h3>
  <% for metric in @metrics %>
    <% if (Date.today - metric.last_day_undone).to_i > 1 %>
    <p><%= metric.name%>: <%= (Date.today - metric.last_day_undone).to_i %> days in a row</p>
    <% end %>
  <% end %>
  <%= column_chart @week_data, colors: ["#4caf50", "#999"] %>
  <h3>Recent Weeks</h3>
  <% for streak in @week_streaks %>
    <p><%= streak[0].name%>: You've hit your weekly goal the previous <%= streak[1] %> weeks.  Keep it up!</p>
  <% end %>
  <br>
  <br>
  <table class="metric-table">
    <% @table_array.each_with_index do |row, index| %>
      <% if (index == 0) %>
        <tr>
          <th><%= row[:column1] %></th>
          <th><%= row[:column2] %></th>
          <th><%= row[:column3] %></th>
          <% for date in row[:dates] %>
            <th><%= date.strftime("%m/%d") %></th>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to row[:metric][:name], user_metric_path(current_user, row[:metric]) %></td>
          <td><%= row[:metric][:target] %> <%= row[:metric][:unit] %></td>
          <td><%= row[:metric][:start_date] %></td>
          <% for value in row[:values] %>
            <% if value == "prior" %>
              <td class="metric-table__prior"></td>
            <% elsif row[:metric][:good] %>
              <td class=<%= value.to_i >= row[:metric][:target] ? "metric-table__hit" : "metric-table__missed" %>><%= value %></td>
            <% else %>
            <td class=<%= value.to_i <= row[:metric][:target] ? "metric-table__hit" : "metric-table__missed" %>><%= value %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br>
  <br>
  <h3>All time</h3>
  <%= line_chart @all_data, colors: ["#4CAF50", "#FF0000", "#CA9CE1", "#F4E04D", "#1C3144", "#58B09C"] %>
<% else %>
   <h3>You have no metrics, yet.</h3>
   <p>Please create some by clicking "Create New Metric" below</p>
<% end %>
<br>
<br>
<div class="links">
  <%= link_to "Create New Metric", new_user_metric_path(current_user)%>
</div>
