<h1>New Metric</h1>
<%= form_for [current_user,@metric] do |f|  %>
  <table class="metric-table">
    <th>Field</th>
    <th>Value</th>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, class: "field" %></td>
    </tr>
    <tr>
      <td><%= f.label :unit %></td>
      <td><%= f.text_field :unit, class: "field" %></td>
    </tr>
    <tr>
      <td><%= f.label :target %></td>
      <td><%= f.number_field :target, class: "field", min: "0"  %></td>
    </tr>

    <tr>
      <td><%= f.label "Start Date" %></td>
      <td><%= f.date_field :start_date, class: "field date"%></td>
    </tr>

    <tr>
      <td><%= f.label "Metric type" %></td>
      <td><%=  f.select :good, [['Good metric', true], ['Bad metric', false]]%></td>
    </tr>

    <tr>
      <td><%= f.label "Per" %></td>
      <td><%=  f.select :duration, [['Week','Week']]%></td>
    </tr>
  </table>
  <br>
  <%= f.submit "Create", class: "button" %>
<% end %>
