<% if @metrics.length > 0 %>
  <h2>Week by week performance</h2>
  <table>
    <tr>
      <th>Metric</th>
      <th>Weekly Goal</th>
      <th>Start Date</th>
      <% for date in @dates %>
        <th><%= date %></th>
      <% end %>
    </tr>
  <% i = 0 %>
  <% for metric in @metrics %>
    <tr>
      <td><%= link_to metric.name, user_metric_path(current_user, metric) %></td>
      <td><%= metric.target %> <%= metric.unit %></td>
      <td><%= metric.start_date %></td>
      <% week = 0 %>
      <% for weekly_count in @rows[i] %>
        <% if (@dates[week]+6)<metric.start_date %>
          <td class="prior"><%= weekly_count %></td>
        <% elsif metric.good %>
          <td class=<%= weekly_count >= metric.target ? "hit" : "missed" %>><%= weekly_count %></td>
        <% else %>
          <td class=<%= weekly_count <= metric.target ? "hit" : "missed" %>><%= weekly_count %></td>
        <% end %>
        <% week += 1 %>
      <% end %>
    </tr>
    <% i+=1 %>
  <% end %>
  </table>
<% else %>
   <h2>You have no metrics</h2>
<% end %>
<p><%= link_to "New Metric", new_user_metric_path(current_user) %></p>
