<h2><%= @metric.name %></h2>
<h4>Goal: <%= @metric.target %> <%= @metric.unit %> per <%= @metric.duration %></h4>
<p>Start date: <%= @metric.start_date %></p>
<p>(It's a <%= @metric.good ? 'good' : 'bad' %> thing i.e. you are trying to <%= @metric.good ? 'more' : 'less' %> of it)</p>
<br>
<br>
<% if @metric.start_date <= Date.today %>
  <h4>Daily performance</h4>
  <%= line_chart @daily_data, colors: ["#4caf50"] %>
  <h4>Weekly performance</h4>
  <%= line_chart @weekly_data, colors: ["#4caf50"] %>
<% end %>

<div class="links">
  <%= link_to "Edit Metric", edit_user_metric_path(current_user, @metric) %>
  <%= link_to "Delete Metric", user_metric_path(current_user, @metric), method: :delete, data: {confirm: "Are you sure you want to delete this metric?"} %>
  </div>
