<h2><%= @metric.name %></h2>
<h2>Goal: <%= @metric.target %> <%= @metric.unit %> per <%= @metric.duration %></h2>
<p>Start date: <%= @metric.start_date %></p>
<p>(It's a <%= @metric.good ? 'good' : 'bad' %> thing i.e. you are trying to <%= @metric.good ? 'more' : 'less' %> of it)</p>

<% if @metric.start_date <= Date.today %>
  <%= line_chart @all_data, colors: ["#4caf50"] %>
<% end %>

<div class="links">
  <%= link_to "Edit Metric", edit_user_metric_path(current_user, @metric) %>
  <%= link_to "Delete Metric", user_metric_path(current_user, @metric), method: :delete %>
  <%= link_to "Add Performance", new_user_metric_performance_path(current_user, @metric) %>
  <%= link_to "All Metrics", user_metrics_path(current_user) %>
</div>
