<section>

<h1>Edit group <%= @group.name %></h1>
<%= form_for [current_user,@group] do |f|  %>
<table class="metric-table">
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name%></td>
  </tr>
  <tr>
    <td><%= f.label :private %></td>
    <td><%= f.select :private, [['Private',true],['Public',false]] %></td>
  </tr>
</table>
<br>
  <%= f.submit "Update", class: "button wide short" %>

<% end %>
</section>
