<h2>Your groups:</h2>
<% if @groups.length == 0 %>
  <h3>You are not currently in any groups</h3>
<% else %>
  <% for group in @groups %>
    <h3><%= link_to group.name, user_group_path(current_user, group) %></h3>
    <h4>Members:</h4>
    <% for user in group.users %>
      <% if user.email != current_user.email %>
        <h5><%= user.email %></h5>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @your_invitations.length > 0 %>
  <h2>Your invitations:</h2>
  <% for invitation in @your_invitations %>
    <p>Group name: <%= invitation.group.name %></p>
    <p>Group members: <%= invitation.group.users.count %></p>
      <ul>
        <% for user in invitation.group.users %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    <p><%= link_to "Accept invitation", "/users/#{current_user.id}/groups/#{invitation.group.id}/invitations/#{invitation.id}/accept", method: :post %></p>
    <p><%= link_to "Reject invitation", "/users/#{current_user.id}/groups/#{invitation.group.id}/invitations/#{invitation.id}/reject", method: :delete %></p>
  <% end %>
<% end %>
<% if @your_requests.length > 0 %>
  <h2>Your outstanding requests:</h2>
  <% for request in @your_requests %>
    <p><%= request.group.name %></p>
    <p><%= request.created_at %></p>
  <% end %>
<% end %>
<p><%= link_to "Create new group", new_user_group_path(current_user) %></p>
<p><%= link_to "See all groups", groups_all_path %></p>
<% if @approval_requests.length > 0 %>
  <p><%= link_to "Approve outstanding requests", request_all_path %></p>
<% end %>
