<h2>Your groups:</h2>
<% if @groups.length == 0 %>
  <h3>You are not currently in any groups</h3>
<% else %>
  <% for group in @groups %>
  <div class="links">
    <h3><%= link_to group.name, user_group_path(current_user, group) %></h3>
    <p>Members: <%= group.users.count %></p>
  </div>
  <% end %>
<% end %>
<% if @your_invitations.length > 0 %>
  <h2>Your invitations:</h2>
  <% for invitation in @your_invitations %>
    <p>Group name: <%= invitation.group.name %></p>
    <p>Group members: <%= invitation.group.users.count %></p>
      <ul>
        <% for user in invitation.group.users %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    <p><%= link_to "Accept invitation", "/users/#{current_user.id}/groups/#{invitation.group.id}/invitations/#{invitation.id}/accept", method: :post %></p>
    <p><%= link_to "Reject invitation", "/users/#{current_user.id}/groups/#{invitation.group.id}/invitations/#{invitation.id}/reject", method: :delete, data: {confirm: "Are you sure you want to reject this invitation?"} %></p>
  <% end %>
<% end %>
<% if @your_requests.length > 0 %>
  <h2>Your outstanding requests:</h2>
  <% for request in @your_requests %>
    <p><%= request.group.name %></p>
    <p><%= request.created_at %></p>
  <% end %>
<% end %>
<div class="links">
  <%= link_to "Create new group", new_user_group_path(current_user) %>
  <%= link_to "Request to join other groups", groups_all_path %>
  <% if @approval_requests.length > 0 %>
    <%= link_to "Approve outstanding requests", request_all_path %>
  <% end %>
</div>
