<h2>New Group</h2>

<%= form_for [current_user,@group] do |f|  %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :private %>
  <%= f.select :private, options_for_select([['Private',true],['Public',false]])%>

  <%= f.submit "Create" %>

<% end %>
