<h2><%= @group.name %> Page</h2>
<h4>Members:</h4>
  <p><%= @members.join(", ") %></p>
<h2>Week of <%= Date.today.beginning_of_week(:sunday) %></h2>
<% i=0 %>
<% for user in @group.users %>
  <p><%= user.first_name %> <%= user.last_name %></p>
  <%= column_chart @group_week_data[i], colors: ["#4caf50", "#999"]  %>
  <% i+=1 %>
<% end %>
<div class="links">
  <%= link_to "Invite new members", new_user_group_invitation_path(current_user, @group) %>
  <%= link_to "Leave group", leave_group_path(current_user, @group), method: :delete %>
  <% if @membership.admin %>
    <%= link_to "Edit group", edit_user_group_path(current_user, @group)%>
  <% end %>
  <% if @membership.admin %>
    <%= link_to "Delete group", "/users/#{current_user.id}/groups/#{@group.id}", method: :delete %>
  <% end %>
  <% if @group.competitions.length > 0 %>
<h2>Competitions:</h2>
  <% for competition in @group.competitions %>
    <h4><%= link_to competition.metric_name, user_group_competition_path(current_user, @group, competition) %></h4>
  <% end %>
<% end %>
  <%= link_to "Create new competition", new_user_group_competition_path(current_user, @group)%>
</div>
