<h1><%= @group.name %> Page</h1>
<h2>Members:</h2>
  <p><%= @members.join(", ") %></p>
<% i=0 %>
<% for user in @group.users %>
  <h3>Member <%= i+1 %>: <%= user.first_name %> <%= user.last_name %></h3>
  <% if user.metrics.length > 0 %>
    <h4>Week of <%= Date.today.beginning_of_week(:sunday).strftime("%B %d, %Y") %></h4>
    <%= column_chart @group_week_data[user.id], colors: ["#4caf50", "#999"]  %>
    <h4>Recent Weeks</h4>
    <table class="metric-table">
      <% @table_array[user.id].each_with_index do |row, index| %>
        <% if (index == 0) %>
          <tr>
            <th><%= row[:column1] %></th>
            <th><%= row[:column2] %></th>
            <th><%= row[:column3] %></th>
            <% for date in row[:dates] %>
              <th><%= date.strftime("%m/%d") %></th>
            <% end %>
          </tr>
        <% else %>
          <tr>
            <td><%= row[:metric][:name] %></td>
            <td><%= row[:metric][:target] %> <%= row[:metric][:unit] %></td>
            <td><%= row[:metric][:start_date] %></td>
            <% for value in row[:values] %>
              <% if value == "prior" %>
                <td class="metric-table__prior"></td>
              <% elsif row[:metric][:good] %>
                <td class=<%= value.to_i >= row[:metric][:target] ? "metric-table__hit" : "metric-table__missed" %>><%= value %></td>
              <% else %>
              <td class=<%= value.to_i <= row[:metric][:target] ? "metric-table__hit" : "metric-table__missed" %>><%= value %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
    <br>
  <% else %>
    <p><%= user.first_name %> has no metrics, yet</p>
  <% end %>
  <% i+=1 %>
<% end %>
<h2>Competitions:</h2>
<% if @group.competitions.length > 0 %>
  <% for competition in @group.competitions %>
    <h3><%= link_to competition.metric_name, user_group_competition_path(current_user, @group, competition) %></h3>
  <% end %>
<% else %>
  <h4>You do not have any competitions set up, yet</h4>
  <br>
<% end %>
<div class="links foot">
  <%= link_to "Invite new members", new_user_group_invitation_path(current_user, @group) %>
  <%= link_to "Leave group", leave_group_path(current_user, @group), method: :delete, data: {confirm: "Are you sure you want to leave this group?"} %>
  <% if @membership.admin %>
    <%= link_to "Edit group", edit_user_group_path(current_user, @group)%>
  <% end %>
  <% if @membership.admin %>
    <%= link_to "Delete group", "/users/#{current_user.id}/groups/#{@group.id}", method: :delete, data: {confirm: "Are you sure you want to delete this group?"} %>
  <% end %>
  <%= link_to "Create new competition", new_user_group_competition_path(current_user, @group)%>
</div>
