<section>

<h1>Change your password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <%= f.submit "Change my password", class: "button widest short"  %>
<% end %>
<div class="links foot">
  <%= link_to "Log in", user_session_path %>
  <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %>
  <!-- <%= render "devise/shared/links" %> -->
</div>
</section>
