<h2>Requests to approve:</h2>
<% if @approval_requests.length > 0 %>
  <% for request in @approval_requests %>
    <p>Requester's name: <%= request.user.first_name %> <%= request.user.last_name %></p>
    <p>Requester's email: <%= request.user.email %></p>
    <p>Group name: <%= request.group.name %></p>
    <div class="links">
      <%= link_to "Approve request", "/requests/#{request.id}/approve", method: :post %>
      <%= link_to "Reject request", "/requests/#{request.id}/reject", method: :delete, data: {confirm: "Are you sure you want to reject this request?"}  %>
    </div>
    <br>
    <br>
  <% end %>
<% else %>
  <p>You have no requests to approve</p>
<% end %>
<div class="links">
  <%= link_to "Create new group", new_user_group_path(current_user) %>
  <%= link_to "See all groups", groups_all_path%>
</div>
