<!-- # learned how to update multiple instances at once from from http://anthonylewis.com/2011/04/15/editing-multiple-records-in-rails/ -->

<section class="form-section">
  <% if @performances.length > 0 %>
    <h2>You have not told how you did on the following days:</h2>

    <%= form_for :performance, :url => update_all_path, :html => { :method => :put} do %>
      <table class="metric-table">
        <tr>
          <th>Metric</th>
          <th>Date</th>
          <th>Count</th>
        </tr>
        <% @performances.each do |performance| %>
          <%= fields_for "performance[]", performance do |performance_fields| %>
        <tr>
          <td><%= performance.metric.name %></td>
          <td><%= performance.date %></td>
          <td><%= performance_fields.number_field :count, class: "field", min: "0" %></td>
        </tr>
          <% end %>
        <% end %>
      </table>
      <br>
      <div class="">
        <%= submit_tag("Save", :class => "button wide short" ) %>
      </div>
    <% end %>
  <% else %>
    <h2>Unentered performances:</h2>
    <h3>You are all up to date!</h3>
  <% end %>
</section>
<section class="form-section">
  <h2>Choose a date to update old performances:</h2>
  <%= form_tag '/performances/day/select', method: :get do %>
    <%= date_field_tag "date", "default info" %>
    <br>
    <%= submit_tag("Jump to day", :class => "button wide short" ) %>
  <% end %>
</section>
