<% if @performances.length > 0 %>
  <h2>You have not told how you did on the following days:</h2>

  <%= form_for :performance, :url => update_all_path, :html => { :method => :put } do %>
    <table>
      <tr>
        <th>Metric</th>
        <th>Date</th>
        <th>Count</th>
      </tr>
      <% @performances.each do |performance| %>
        <%= fields_for "performance[]", performance do |performance_fields| %>
      <tr>
        <td><%= performance.metric.name %></td>
        <td><%= performance.date %></td>
        <td><%= performance_fields.number_field :count %></td>
      </tr>
        <% end %>
      <% end %>
    </table>

    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
<% else %>
  <h2>You are all up to date!</h2>
<% end %>
