<!-- # learned how to update multiple instances at once from from http://anthonylewis.com/2011/04/15/editing-multiple-records-in-rails/ -->
<section>

<% if @performances.length > 0 %>
  <h2>Update performance count on <%= @date %></h2>
  <%= form_for :performance, :url => update_day_path, :html => { :method => :put } do %>
    <table class="metric-table">
      <tr>
        <th>Metric</th>
        <th>Count</th>
      </tr>
      <% @performances.each do |performance| %>
        <%= fields_for "performance[]", performance do |performance_fields| %>
      <tr>
        <td><%= performance.metric.name %></td>
        <td><%= performance_fields.number_field :count, class: "field", min: "0" %></td>
      </tr>
        <% end %>
      <% end %>
    </table>
    <br>
    <%= submit_tag("Save", :class => "button wide short" ) %>
  <% end %>
<% else %>
  <h2>You don't have any history on that day!</h2>
<% end %>
</section>
