<h2><%= @metric.name %></h2>

<%= form_for [current_user,@performance.metric, @performance] do |f|  %>
  <%= f.label :count %>
  <%= f.number_field :count %>

  <%= f.label :date %>
  <%= f.date_field :date, :default => Date.today%>

  <%= f.submit "Enter" %>

<% end %>
