<h1>New performance for <%= @metric.name  %></h1>

<%= form_for [current_user,@metric, @performance] do |f|  %>
  <%= f.label :count %>
  <%= f.text_field :count %>

  <%= f.label :date %>
  <%= f.date_field :date, :value => Date.today.strftime('%Y-%m-%d')%>

  <%= f.submit "Enter" %>

<% end %>
