<!DOCTYPE html>
<html>
  <head>
    <title>Goal Tracker</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag     'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav__container">
        <div class="nav__logo">
          <%= link_to root_path do %>
            <%= image_tag 'Logo.png' %>
          <% end %>
        </div>
        <div class="nav__container__links">
          <a class="nav__container__link" href="/metrics/all">VIEW PAST</a>
          <a class="nav__container__link" href="/performances/all/edit">ENTER DAILY</a>
          <% if !current_user %>
            <a class="nav__container__link" href="/groups/all">TRACK GROUPS</a>
          <% else %>
            <a class="nav__container__link" href="/users/<%= current_user.id %>/groups">TRACK GROUPS</a>
          <% end %>
          <div class="dropdown">
            <% if !current_user %>
            <a href="/users/sign_in"><button class="button dropdown__dropbtn">SIGN IN</button></a>
            <% else %>
            <button onclick="myFunction()" class="button dropdown__dropbtn">Hi, <%= current_user.first_name %></button>
            <% end %>
              <div id="myDropdown" class="dropdown__dropbtn__content">
                <a href="/profiles/show">PROFILE</a>
                <% if !current_user %>
                  <%= link_to "SIGN UP", new_user_registration_path %>
                  <%= link_to "SIGN IN", new_user_session_path %>
                <% else %>
                  <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
